*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    background-color: rgb(44, 40, 36);
    height: 100%;
    width: 100%;
    display: grid;
    padding: 4rem;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    border: 2px solid white;
    justify-items: end;
    /* align-items: center; */
}
.item{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 5px solid white;
    gap: 0.4rem;
    /* justify-self: end; */
    /* horizontal axis */
    /* only apply on child element */
    /* align-self: end; */
    /* vertical-axis */
    /* place-self: center; */
    /* vertically and horizontally align */
}