/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    transition: all 4s linear 1s;
}
.box:hover{
    /* transform: rotate(360deg); */
    transform: scale(2);  /*to increase the size*/
    transform: rotate(-45deg);
    transform: skew(45deg); /*tilt*/
    transform: translate(200px,500px); /*move in x-y-z direction*/
    

}
p{
    font-size: 36px;
}